nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilos para los enlaces como botones */
    /*estilos botones inactivos nav*/

.btn {
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    display: inline-block;
}

.btn:hover {
    background: #666;
    color: #fff;
}

    /*estilos botones activos nav*/
.active {
    background: #151518;
    color: #946868;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    display: inline-block;
}

.active:hover {
    background: #3f3535;
    color: #946868;
}
    /*estilos botones fuera del nav*/
.btn_no_m {
    background: #3b1f1f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    display: inline-block;
}

.btn_no_m:hover {
    background: #633b3b;
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 1rem;
}

.logo_rrss {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

